body{
    box-sizing: border-box;
    background-image: url("../images/education.png");
    
}

*{
    
    outline: none;
}

a{
    text-decoration: none;
}

div>h1{
    color:white;
    font-size:4.5em;
    text-align: center;
    margin-top: 3em;
    text-shadow: 5px 5px #104050;

}

.button {
    background: #14BBB3;
    width: 200px;
    height: 50px;
    padding: 4px 0;
    border:none;
    border-radius: 15px;
    color:white;
    font-size: 27px;
    text-shadow: 3px 3px #104050;
    letter-spacing: 2px;
    box-shadow:3px 3px #104050;
    margin: 0.7em 23.5em;
}

    .button:hover {
      cursor: pointer;
      background-color:#2085FF;
    }
    

    .loginInputs{
        margin-left: 31em;
        margin-top: 2.5em;
    }

    .loginInputs input{
        border: none;
        border-radius: 5px;
        text-indent: 1em;
        font-size: 18px;
        width: 220px;
        height: 40px;
        margin-left: 0.5em;
    }
