body{
   
    background-image: url("../images/education.png");
}

div{
    display:block;
    margin:20px 0px;
}

header{
    width:80%;
    margin: 20px 30px;
    padding:5px 0px;
    box-shadow: 5px 5px #14BBB3;
    border-radius: 15px;
    color:rgb(13, 48, 102);
    background-color: rgba(255, 255, 255, 0.7);
   
}

.container {
    padding:20px 30px;
    text-align:center;
    float:left;
	width: 90%;
	margin: 20px 30px ;
	background: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px #14BBB3;
    color:rgb(8, 91, 142);
    border-radius: 15px;
}


.input-container{
    clear:both;
    /*margin:10px 20px;*/
}

.checkbox-container{
    margin-bottom:50px;
}

#logo{
    height: 50px;
    margin-left: 1em;
    margin-right: 0.7em;
}

header>h1{
    font-size: 40px;
    bottom:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:rgb(8, 91, 142);
    text-shadow: 1.5px 1.5px black;
}


.top-right{
    position: absolute;
    top: 20px;
    right: 80px;
}

button{
    background: #14BBB3;
    padding:10px 15px;
    border:none;
    border-radius: 15px;
    color:white;
    font-size: 27px;
    text-shadow: 3px 3px #104050;
    letter-spacing: 2px;
    box-shadow:3px 3px #104050;
    margin: 10px ;
}

button:hover {
      cursor: pointer;
      background-color:#2085FF;
    }

a{
    text-decoration: none;
    font-size:22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
      cursor: pointer;
      background-color:#2085FF;
      color:white;
      font-weight:bold;
    }

h2{
    margin:20px ;
    border-bottom:solid #14BBB3;;
    text-align:left;
    font-size:30px;
    color:rgb(8, 91, 142);
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin:20px ;
    text-align:left;
    font-size:22px;
    color:rgb(8, 91, 142);
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    font-size:30px;
    color:rgb(8, 91, 142);
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
    width:30%;
    margin:20px ;
    text-align:left;
    font-size:22px;
    color:rgb(8, 91, 142);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom:solid 2px #14BBB3;
}


.col-2 {
    column-count:2;
} 

.col-3 {
    column-count:3;
} 

.centered {
    margin:0 auto;
    margin-bottom:10px;
}


#results{
    width:60%;
    margin-top:10px;
}

tr{
    border-collapse:collapse;
}

table{
    margin:20px;
    width:100%;
}

tr{
   
}

th:not(:first-child):not(:last-child){
    background-color: rgb(8, 91, 142);
    color:white;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 2px solid white;
    border-right: 2px solid white;
    font-size:18px;
    padding:10px 5px;
}

th:first-child {
    background-color: rgb(8, 91, 142);
    color:white;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    padding:10px 5px;
    border-left:3px solid rgb(8, 91, 142);
}

th:last-child{
    background-color: rgb(8, 91, 142);
    color:white;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    padding:10px 5px;
    border-right: 3px solid rgb(8, 91, 142);
}

td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid;
    font-size:20px;
    padding:10px 5px;
}


li{
    padding:5px;
	text-align:left;
    font-size:26px;
}

ul {
    font-size:20px;
    margin-left:20px;
}

.menu {
    list-style-type: none;
    margin-bottom:10px;
    padding: 0;
    overflow: hidden;
    background-color: #14BBB3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu li{
    float: left;
    border-right:1px solid #bbb;
}

.menu  li:last-child{
    border-right: none;
}

.menu li a{
    display: block;
    color: white;
    font-size:26px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.active{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight:bold;
    text-decoration: none;
}

.menu li a:hover(.active) {
   color: rgb(8, 91, 142);
   font-weight:bold;
}

input {
    border: solid rgb(8, 91, 142);
    display:block;
    border-radius: 5px;
    text-indent: 1em;
    font-size: 18px;
    height: 40px;
    margin: 10px 20px;
}

.thin {
    width:50%;
}

.wide {
    width:90%;
}

.submit-btn {
    margin:0 auto;
    margin-top:10px;
    background: #14BBB3;
    padding:7px 10px;
    border:none;
    border-radius: 15px;
    color:white;
    font-size: 27px;
    text-shadow: 3px 3px #104050;
    letter-spacing: 2px;
    box-shadow:3px 3px #104050;
}

.submit-btn:hover {
    cursor: pointer;
    background-color:#2085FF;
}

.error_message {
    float: left;
    margin-left: 20px;
    font-size: 15px;
    color: red;
}





